# Dependências
node_modules/
.pnp
.pnp.js

# Produção e Build
build/
dist/
.expo/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de Ambiente e Segredos (IMPORTANTE)
# Isso impede que sua chave API vá para o GitHub
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema Operacional
.DS_Store
Thumbs.db
